Mean Using Native

In [4]:
#Mean Using Native

apel = [100,200,150,100,120,80,90,160,110,170]

total_berat = 0

for i in range(len(apel)):
  total_berat = total_berat+apel[i]

avg_apel = total_berat/len(apel)
print(avg_apel)

128.0

Mean Using Nampy

In [5]:
#Mean Using Nampy

import numpy as np
apel = [100, 200, 150, 100, 120, 80, 90, 160, 110, 170]
avg_apel = np.mean(apel)
print(avg_apel)

128.0

Median Using Native

In [3]:
#Median Using Native

import numpy as np
apel = [100, 200, 150, 100, 120, 80, 90, 160, 110, 170]
med_apel = np.median(apel)
apel.sort()
apel_urut = ''.join(map(str, apel))
print('Apel urut : {:s}'.format(apel_urut))
print(med_apel)

Apel urut : 8090100100110120150160170200
115.0

Modus Using Spicy vs Native

In [10]:
#Modus Using Spicy vs Native

from scipy import stats
import statistics as s

nilai = [70, 80, 70, 70, 90, 100]

mode_nilai = stats.mode(nilai) #spicy
modus = s.mode(nilai) #native python

print(modus)
print(mode_nilai)
print(mode_nilai.mode)

70
ModeResult(mode=array([70]), count=array([3]))
[70]

Range Using Numpy

In [12]:
#Range Using Numpy

import numpy as np

data = np.array([23, 56, 45, 65, 59, 55, 62, 54, 85, 25])
data_max = max(data)
data_min = min(data)
range = data_max - data_min
print(range)

62

How to obtain Q3 and Q1 Value (3)

In [13]:
import numpy as np
import pandas as pd

data_baru = np.array([23, 56, 45, 65, 59, 55, 62, 54, 85, 25, 55])
print(pd.DataFrame(data_baru).describe())

               0
count  11.000000
mean   53.090909
std    17.466852
min    23.000000
25%    49.500000
50%    55.000000
75%    60.500000
max    85.000000